<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sair</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/security-layout.css}">
</head>
<body>
	 <form th:action="@{/logout}" method="post">
    	
    	<div class="wrapperLogout">
	  		<div class="containerLogout">
	  			<p>Tens a certeza que queres sair?</p>
    	 		<input class="logoutButton" type="submit" value="Sair"/>
 			</div>
 		</div>
 	
 	
 	</form>
</body>
</html>